{% extends "base.html" %}

{% block content %}
<div class="loader-container loader-container--hidden">
    <span class="loader"></span>
    <span class="loader-container__title">Загрузка...</span>
</div>
<h2>Имитатор потока вызовов с планированием на период времени (в режиме реального времени)</h2>
<div class="content">

    <div class="input_parameters_imitator">
        <div class="csus">Эмулятор СОВ</div>
        <div class="row_com">

            <div class="column2_com">

                <br>
                <div class="div-abonent">Данные абонента</div>
                <br>
                <div class="data-abonent">
                    <span>Вызывающий абонент:</span> <select  class="select" name="abonents" id="abonent-select">
                    <option value="0">Выберите Абонента</option>
                    <option value="1">Абонент 1</option>
                    <option value="2">Абонент 2</option>
                </select>
                    <span>Номер телефона: </span><span class="number hide">89000000001</span><span class="number hide">89000000001</span><span class="number hide">89000000002</span>
                </div>
                <div class="data-abonent">
                    <span>Вызываемый абонент:</span> <select class="select" name="abonents-rec" id="abonent-select-rec">
                    <option value="0">Выберите Абонента</option>
                    <option value="1">Абонент 1</option>
                    <option value="2">Абонент 2</option>
                </select>
                    <span>Номер телефона: </span><span class="number-rec hide">89000000001</span><span class="number-rec hide">89000000001</span><span class="number-rec hide">89000000002</span>
                </div>
                <div class="data-abonent">
                    <span>Принадлежность абонента к МСПСС Гонец_М1: </span>
                    <select class="select" name="affiliation" id="affiliation-id" disabled>
                        <option>да</option>
                    </select>
                </div>

                <div class="data-abonent">
                    <span>Размещение абонента : </span>
                    <span>Страна: </span>
                    <select class="select" name="subscriber-placement" id="subscriber-placement-id" disabled>
                        <option>Россия</option>
                    </select>
                    <span>Регион: </span>
                    <select class="select" disabled>
                        <option>Все регионы</option>
                    </select>

                </div>
                <br>
                <div class="data-abonent">
                    <span>Задать координаты абонента :</span>
                    <div class="radio-dvi">
                        <br>
                        <input type="radio" value="1" name="radio-coord" class="time_call">
                        <span>Вручную</span>
                        <input type="radio" value="1" name="radio-coord" class="time_call coord-rand" checked>
                        <span>Случайным образом</span>
                        <img class="re-date-flow" src="../static/img/re.png">
                    </div>
                </div>
                <br>
                <div class="data-abonent">
                    <span>Задать время вызова :</span>
                    <div class="radio-dvi">

                        <br>
                        <input type="radio" value="1" name="radio-timer" class="timer_call-current" checked>
                        <span>Использовать текущее время</span>

                        <br>
                        <br>
                        <span id="typeTime">Отображается Московское время</span>
                        <br>
                        <input type="radio" value="1" name="radio-timer" class="timer_call-self">
                        <span>Вручную</span>

                        <input type="time" id="start-time" name="trip-start-time" value="" step="2" />
                        <input type="date" id="start" name="trip-start" value=""/>
                    </div>
                </div>
                <br>
                <div class="data-abonent">
                    <div>Координаты вызывающего абонента:</div>
                    <label for="lat3">Широта, градусы</label>
                    <input id="lat3" type="number" value="51">
                    <label for="lon3">Долгота, градусы</label>
                    <input id="lon3" type="number" value="39">
                    <!--            <span>Минимальная продолжительность сеанса,сек</span>-->
                    <!--            <input id="min-call-time" type="text" value="30">-->
                </div>
                <div class="data-abonent">
                    <div>Координаты вызываемого абонента:</div>
                    <label for="lat6">Широта, градусы</label>
                    <input id="lat6" type="number" value="52">
                    <label for="lon6">Долгота, градусы</label>
                    <input id="lon6" type="number" value="40">
                    <!--            <span>Минимальная продолжительность сеанса,сек</span>-->
                    <!--            <input id="min-call-time" type="text" value="30">-->
                </div>
                <br>
                <div class="div-abonent">Параметры вызова</div>
                <br>
                <div class="data-abonent">

                    <label for="min-time-dur">Длительность сеанса связи: от,сек</label>
                    <input id="min-time-dur" type="number" value="30">
                    <label for="max-time-dur">до,сек</label>
                    <input id="max-time-dur" type="number" value="300">
                    <!--            <span>Минимальная продолжительность сеанса,сек</span>-->
                    <!--            <input id="min-call-time" type="text" value="30">-->
                </div>
                <div class="radio-dvi" style="display: none">
                    <span>Продолжительность сеанса:</span>
                    <input type="radio" value="1" name="radio-time" class="time_call-rand" checked>
                    <span>Случайная</span>
                    <input type="radio" value="1" name="radio-time" class="time_call-max" >
                    <span>Максимальная</span>





                </div>
                <div class="radio-dvi">
                    <span>Вид связи:</span>
                    <!-- <input type="radio" value="1" name="radio" class="simple-checkbox">
                    <span>Симплекс передача</span> -->
                    <input type="radio" value="1" name="radios" class="simplex-checkbox">
                    <span>Симплекс </span>
                    <input type="radio" value="2" name="radios" class="duplex-checkbox" checked>
                    <span>Дуплекс</span>


                </div>
                <div>
                    <span>Количество вызовов</span>
                    <input id="quantity_calls" type="text" value="10">
                    <span>за</span>
                    <input id="time_calls" type="text" value="100">
                    <span>сек</span>
                </div>
                <div class="radio-dvi">

                    <span>Очередность вызов:</span>
                    <input type="radio" value="1" name="radio-call" class="priority-checkbox" checked>
                    <span>Монотонная</span>
                    <input type="radio" value="2" name="radio-call" class="priority-rand-checkbox">
                    <span>Случайная</span>
                </div>
            </div>
            <!-- <div class="column3_com"> -->


            <!-- </div> -->
        </div>

        <div class="btn2">
            <button id="task-btn_sim_flow" onclick="">Вызов</button>
            <button id="task-btn_cansel" disabled>Прервать вызов</button>
        </div>

        <!-- <div class="header-log">Доступный КА:</div> -->

        <span id="response3">
            <!-- <span id="call">Вызов: </span> -->

            <!-- <div style="
          font-size: calc(1.2rem);">Характеристики Абонента:</div>
          <div id="latitude-res">Широта, градусы: </div>
          <div id="long-res">Долгота, градусы: </div> -->

        </span>

    </div>
    <div class="information_request">
        <span class="csus">Шлюз взаимодействия СОВ-СУРР</span>
        <div id="containers_calls"></div>
    </div>

</div>

<script src="{{ url_for('static',filename='js/ImitatorFlowSov.js') }}"type="module"></script>
{% endblock %}